/* #region Сброс */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* #endregion Сброс */

/* #region Общее */
:root {
  --font-family: 'Poppins', sans-serif;
}


body {
  font-family: var(--font-family);
  --color-grey: #939393;
}

.container--common {
  max-width: 1600px;
  width: 100%;

  /* отступы слева и справа: */
  padding: 0 130px;

  margin: 0 auto;
}

.h2--common {
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
}

.h3--common {
  font-weight: 600;
  font-size: 30px;
  line-height: 80px;
  color: #263238;
}

.text-center--common {
  text-align: center;
}

.p--common {
  font-weight: 400;
  font-size: 20px;
  color: #8f95a5;
}

.img--common {
  /* адаптивное изображение */
  max-width: 100%;
  height: auto;
}

/* #endregion Общее */

/* #region Header */
.header {}

.header--container {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
  padding-bottom: 48px;
}

.header__logo {}

/* всё слово "Britlex" */
.header__logo--a {
  text-decoration: none;
  font-weight: 400;
  font-size: 36px;
  color: #000;

  display: block;
  border-radius: 5px;
  padding: 3px;
  background-color: transparent;
}

/* всё слово "Britlex" при наведении */
.header__logo--a:hover,
.header__logo--a:focus {
  background-color: khaki;
}

/* вторая часть слова "lex" */
.header__logo--right-text {
  color: #939393;
}

/*/~ линия подчёркивания, без наведения невидимая ~/
.header__logo::after {
  content: "";
  display: grid;
  place-self: center;
  width: 0px;
  height: 3px;

  /~ без наведения делаем невидимой: ~/
  background-color: transparent;

  transition-property: all;
  transition-duration: 0.3s;
}

/~ линия подчёркивания, при наведении делаем видимой ~/
.header__logo:hover::after {
  background-color: var(--color-grey);
  width: 100%;
}*/

.header__nav {}

.header__nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__nav-a {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: #263238;

  display: block;
  border-radius: 5px;
  padding: 5px;
}

.header__nav-a:hover,
.header__nav-a:focus {
  background-color: khaki;
}

.header__nav--li-01 {}

.header__nav--li-02 {}

.header__nav--li-03 {}

.header__nav--li-04 {}

.header__nav--li-05 {}

.header__btn {
  display: grid;
  place-items: center;
  width: 220px;
  height: 70px;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #263238;
  cursor: pointer;

  color: #000;
  font-weight: 400;
  font-size: 24px;

  transition: 0.3s;
}

.header__btn:hover,
.header__btn:focus {
  background-color: khaki;
}

/* #endregion Header */

/* #region Section Home */

.section--home {}

.home____flex-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home--left-side {}

.home--left-side__title-plus-img {
  display: flex;
  align-items: center;
  padding-top: 50px;
  justify-content: space-between;
}

.home--left-side__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 125%;
  color: #000;
  margin-bottom: 40px;
}

.home--left-side__div-img {}


.home--left-side__p {
  font-weight: 400;
  font-size: 24px;
  color: #8f95a5;

  max-width: 545px;

  margin-bottom: 60px;
}

.home--left-side__button {
  font-weight: 400;
  font-size: 36px;
  color: #fff;

  border-radius: 15px;
  width: 438px;
  height: 118px;
  background: #263238;

  font-family: inherit;
}

.home--right-side {}

/* #endregion Section Home */

/* #region Section Skills */

.section--skills {
  /* отступы сверху и снизу: */
  padding: 98px 0;
}

/* #region Grid */

.skills__grid {
  display: grid;
  gap: 30px;
  grid-template-areas:
    "one two  three"
    "one four four ";
  justify-content: space-evenly;
  align-items: stretch;

  padding-top: 96px;
}

.speaking {
  grid-area: one;
}

.writing {
  grid-area: two;
}

.reading {
  grid-area: three;
}

.listening {
  grid-area: four;
}

/* #endregion Grid */

/* Общее оформление карточек */
.skills__grid-item {
  background-color: #F5F5F5;
  padding: 15px;
  border-radius: 15px;

  display: flex;

  /* сначала всем карточкам присваиваем  flex-direction: column; */
  flex-direction: column;

  justify-content: space-between;
}

.listening {
  /* затем у одной последней карточки переопределяем расположение с колонки на ряд */
  flex-direction: row;
}

.skills__grid-image img {
  max-width: 100%;
}

.skills__grid-image {
  text-align: center;
}

.skills__grid-content {}

.skills__grid-content h3 {}

.skills__grid-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8F95A5;
  max-width: 435px;
  width: 100%;
}

.skills__grid-content button {
  font-family: var(--font-family);
  width: 218px;
  height: 60px;
  background: #263238;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
}

.skills__grid-content button:hover {
  opacity: 0.8;
}

/* Зададим диву с изображением, который находится внутри .listening, порядок 1 */
.listening .skills__grid-image {
  order: 1;
  /* По умолчанию элементы отображаются в том порядке, в котором они расположены в разметке, а значение свойства order равно 0. Но это свойство позволяет переставлять их местами. */
  /* В данном случае в карточке в изначальной разметке HTML изображение стоит первым и имеет по умолчанию order:0, а блок с текстом про умолчанию идёт за ним, и тоже имеет order: 0. Установив order: 1 изображению мы получаем что теперь блок с текстом остался ордер 0, а изображение ордер 1, в результате флекс начинает рисовать блок с изображением вторым, а не первым */
}

@media screen and (max-width: 1280px) {
  .skills__grid {
    grid-template-areas:
      "one two"
      "three four";
  }

  /* у карточек есть общий класс .skills__grid-item, затем к этой же карточке добавляется класс .listening */
  .listening {
    display: block;
    /* у 4-й карточки есть класс .skills__grid-item, у которого было display: flex, добавив класс .listening мы перезаписали его с flex на block */
    /* так как 4-я карточка теперь имеет display: block, то расположение элементов теперь как в чистом HTML - для изображения перестает работать order: 1 так как он работает только у флексов, и порядок расположения картинки и затем ниже блок текста идет как для блочных элементов */
  }
}

@media screen and (max-width: 1024px) {
  .skills__grid {
    grid-template-areas:
      "one"
      "two"
      "three"
      "four";
  }
}

/* #endregion section--skills */

/* #region Section About us */
.section--about-us {}

.about-us__flex-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 185px 0;
}

.about-us__left-side {
  max-width: 640px;
}

.about-us__left-side h2 {
  padding-top: 30px;
}

.about-us__p {
  padding-top: 23px;
}

.about-us__left-side--quantity-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 6px;
}

.quantity-group__item {
  text-align: center;
}

.quantity-group__p {
  font-weight: 400;
  font-size: 20px;
  color: #8f95a5;
}

.about-us__right-side {}

/* адаптивное изображение */
.about-us__right-side img {
  max-width: 100%;
  height: auto;

  margin-right: 10px;
}

/* #endregion Section About us */

/* #region Pricing */

.section--pricing {}

.pricing__h2 {
  margin-bottom: 45px;
}

.pricing__flex-group {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 150px;
}

.pricing__card {
  max-width: 435px;
  width: 100%;
  padding: 9px;
}

/* изображения заключили в div для выравнивания высоты высотой div'а */
.pricing__div--img {
  max-height: 340px;
  height: 100%;
}

.pricing__h3 {}

.pricing__p {
  min-height: 92px;
  margin-bottom: 30px;
}

.pricing__cost-btn {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  max-width: 240px;
  width: 100%;
  padding: 10px;

  background-color: #eee;
  border-radius: 5px;
}

.pricing__price {
  font-weight: 400;
  font-size: 30px;
  color: #263238;
}

.pricing__period {}

/* #endregion Pricing */

/* #region Section Contact us */

.section--contact-us {}

.contact-us__flex-group {
  display: flex;
  padding-top: 75px;
  justify-content: center;
  gap: 94px;
}

.contact-us__left-side {}

.contact-us__right-side {
  padding-top: 35px;
}

.contact-us__h2 {
  margin-bottom: 37px;
}

.contact-us__p {
  margin-bottom: 51px;
}

.contact-us__form {}

.contact-us__input {
  max-width: 450px;
  width: 100%;
  min-height: 80px;

  border: 1px solid #8f95a5;
  border-radius: 10px;

  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  color: #8f95a5;

  padding-left: 32px;
  margin-right: 8px;
}

.contact-us__btn-subscribe {
  max-width: 264px;
  width: 100%;
  min-height: 80px;

  border-radius: 10px;
  background-color: #263238;

  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

/* #endregion Section Contact us */